input[type="checkbox"] {
  display: none;
}
.mon-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 478px;
  border-radius: 0 0 10px 10px;
  padding-left: 12px;
  padding-right: 12px;
  color: #555;
  background-color: #dbdbdb;
  font-size: 20px;
}
.mon-health-point, .mon-heal-point, option {
  width: 105px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 19px;
  font-family: "S-CoreDream-6";
}
.mon-healing {
  color: rgb(219, 40, 40);
}
