.rest-panel {
    display: flex;
    width: 20vw;
    height: 100vh;
    flex-direction: column;
    padding: 12px;
    background-color: #dbdbdb;
}
.heal-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'S-CoreDream-6';
}
.heal-btns > * {
    width: 55px;
    height: 32px;
    padding: 2px 6px 2px 6px;
    font-size: 16px;
    font-weight: bold;
}
.sort-bars {
    display: flex;
    height: 35px;
    align-items: center;
    margin-top: 4px;
    margin-left: 4px;
    font-size: 22px;
}
.rest-chars {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}
