.rest-panel {
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: 384px;
  min-width: 384px;
  background-color: #dbdbdb;

}
.heal-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "S-CoreDream-6";
}
.heal-btns > * {
  padding: 2px 6px 2px 6px;
  font-size: 16px;
  font-weight: bold;
  width: 55px;
  height: 32px;
}
.sort-bars {
  display: flex;
  align-items: center;
  margin-left: 4px;
  margin-top: 4px;
  height: 35px;
  font-size: 22px;
}
.rest-chars {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}