.normal-char-sheet {
    width: 160px;
    height: 205px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}
.normal-char-name {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 7px 7px 0 0;
    font-size: 15px;
    font-family: "S-CoreDream-4";
    letter-spacing: -1px;
    text-align: center;
    color: #fff;
}
.char-image {
    position: relative;
    width: 100%;
    height: 115px;
    background-color: #fff;
    background-image: url("../image/char1.png");
    background-size: 100%;
    background-position: 0 -25px;
    background-repeat: no-repeat;
    border-bottom: 2px solid;
}
.normal-order-image {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
.normal-char-info {
    padding: 2px 6px 2px 6px;
}
.normal-char-info > * > label {
    display: flex;
    align-items: center;
    margin: 0;
}
.normal-char-stat1 {
    display: flex;
    align-items: center;
    height: 25px;
    margin-bottom: 2px;
}
.normal-char-stat1 > label > input {
    border: none;
    font-family: "S-CoreDream-8";
    letter-spacing: -1px;
    font-size: 17px;
    background-color: transparent;
    pointer-events: none;
    user-select: none;
}
.normal-hp-icon, .normal-atk-icon, .normal-def-icon {
    font-size: 18px;
}
.normal-char-hp {
    width: 41px;
}
.normal-char-atk, .normal-char-def {
    width: 30px;
}
.normal-char-stat2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2px;
}
.normal-char-stat2 > button {
    height: 21px;
    width: 52px;
    border: none;
    padding: 0;
    font-size: 14px;
    font-family: "S-CoreDream-6";
    border-radius: 5px;
    background-color: #c02b2b;
    color: #fff;
}
.food-buff {
    font-size: 20px;
    margin-left: 3px;
}