* {
  box-sizing: border-box;
  user-select: none;
}
*:focus {
  outline: none;
}
.screen {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  width: 100%;
  min-width: 1920px;
  height: 900px;
  min-height: 900px;
  background-color: #a5a1a0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@font-face {
  font-family: 'S-CoreDream-4';
  src: url("./font/SCDream4.otf");
}
@font-face {
  font-family: 'S-CoreDream-6';
  src: url("./font/SCDream6.otf");
}
@font-face {
  font-family: 'S-CoreDream-8';
  src: url("./font/SCDream8.otf");
}
/* @font-face {
  font-family: 'HeirofLightBold';
  src: url() format('woff');
} */
