* {
    box-sizing: border-box;
    user-select: none;
}
*:focus {
    outline: none;
}
.screen {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin: 0px;
    background-color: #a5a1a0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}
@font-face {
    font-family: 'S-CoreDream-4';
    src: url('./font/SCDream4.otf');
}
@font-face {
    font-family: 'S-CoreDream-6';
    src: url('./font/SCDream6.otf');
}
@font-face {
    font-family: 'S-CoreDream-8';
    src: url('./font/SCDream8.otf');
}
/* @font-face {
  font-family: 'HeirofLightBold';
  src: url() format('woff');
} */
